@import url('https://fonts.googleapis.com/css2?family=Calligraffitti&display=swap');

*{
    padding: 5;
    margin: 5;
    box-sizing: border-box;
}
body{
    font-family: "Quicksand", sans-serif;
    background: #ffffff;
    color: rgb(0, 0, 0);
}
.about{
    width: 100%;
    padding: 5% 0.%;
    background-color: #ffffff;
}
.about img{
    height: auto;
    width: 35%;
}
.about-text{
    width: 550px;
}
.main{
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.about-text h1{
    color: rgb(255, 31, 39);
    font-size: 60px;
    text-transform: capitalize;
    margin-bottom: 20px;
}
.about-text h5{
    color: rgb(0, 0, 0);
    font-size: 25px;
    text-transform: capitalize;
    margin-bottom: 25px;
    letter-spacing: 2px;
}
.about-text p{
    font-size: 18px;
    color: rgb(0, 0, 0);
    letter-spacing: 1px;
    line-height: 28px;
    margin-bottom: 45px;
}


