@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600&display=swap");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Quicksand", sans-serif;
    background-color: #1c1c1c;
    color: #fff;
}

section{
    min-height: 1000px;
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title{
    font-size: 3em;
    margin: 2em 0em;
}