@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Calligraffitti&display=swap');

/* Color Variables */
:root {
  --white: #fff;
  --black: #222;
  --green: #6cbe02;
  --grey1: #f0f0f0;
  --grey2: #e9d7d3;
}

/* Basic Reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: 'roboto', sans-serif;;
  font-size: 1.6rem;
  background-color: var(--white);
  color: var(--black);
  font-weight: 400;
  font-style: normal;
}

a {
  text-decoration: none;
  color: var(--black)
}

li {
  list-style: none;
}

/* bagian ini berfungsi untuk mengatur propertis yang akan ditampilkan disection yang meliputi question dan answer nya */
section{
    padding-left: 20%;
    min-height: 65vh;
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: left;
}

/* berikutnya kita akan mengatur ukuran tulisan dan margin di dalam method title ini */
.title{
    font-size: 3rem;
    margin: 2rem 0em;
}

/* bagian ini mengatur tampilan box untuk menampung section question dan answer */
.faq{
    max-width: 700px;
    margin-top: 2rem;
    padding-bottom: 1rem;
    border-bottom: 2px solid rgb(0, 0, 0);
    cursor: pointer;
}

/* bagian ini akan mengatur tampilan box terkhusu untuk menampung question*/
.question{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* setelah membuat tampilan boxnya , maka dilanjut dengan mengatur ukuran tulisannya*/
.question h3{
    font-size: 1.8rem;
}

/* dan begitu juga di lanjutkan untuk bagian answernya */
.answer{
    max-height: 0;
    overflow: hidden;
    transition: max-height 1.4s ease;
}

.answer p{
    padding-top: 1rem;
    line-height: 1.6;
    font-size: 1.4rem;
}

/* bagian ini dibuat untuk menampilkan answernya dengan animation fade ketika tombolnya arrow di tekan */
.faq.active .answer{
    max-height: 300px;
    animation: fade 1s ease-in-out;
}

/* seterusnya faq active svg ini akan di rotate 180 derajat */
.faq.active svg{
    transform: rotate(180deg);
}
 
/* dan disini akan mengatur lamanya selang waktu disaat arrownya ber rotate */
svg{
    transition: transform 0.5s ease-in;
}

.container {
  max-width: 114rem;
  margin: 0 auto;
  padding: 0 3rem;
}

.d-flex {
  display: flex; 
  align-items: center;
}

