/* 
=================
Header
=================
*/

.header {
    position: relative;
    min-height: 100vh;
    overflow-x: hidden;
  }
  
  .top-nav {
    background-color: var(--green);
    font-size: 1.3rem;
    color: var(--white);
  }
  
  .top-nav div {
    justify-content: space-between;
    height: 4.5rem;
  }
  
  .top-nav a {
    color: var(--white);
    padding: 0 0.5rem;
  }
  /* 
  =================
  Navigation
  =================
  */
  .navigation {
    height: 6rem;
    line-height: 6rem;
  }
  
  .nav-center {
    justify-content: space-between;
  }
  
  .nav-list .icons {
    display: none;
  }
  
  .nav-center .nav-item:not(:last-child) {
    margin-right: 0.5rem;
  }
  
  .nav-center .nav-link {
    font-size: 1.8rem;
    padding: 1rem;
  }
  
  .nav-center .nav-link:hover {
    color: var(--green);
  }
  
  .nav-center .hamburger {
    display: none;
    font-size: 2.3rem;
    color: var(--black);
    cursor: pointer;
  }
  
  .nav-center .harm-nav {
    display: none;
  }
  .nav-center .logo-keos {
    width: 80;
    height: 100;
  }
  /* Icons */
  
  .icon {
    cursor: pointer;
    font-size: 2.5rem;
    padding: 0 1rem;
    color: #555;
    position: relative;
  }
  
  .icon:not(:last-child) {
    margin-right: 0.5rem;
  }
  
  .icon span {
    position: absolute;
    top: 3px;
    right: -3px;
    background-color: var(--green);
    color: var(--white);
    border-radius: 50%;
    font-size: 1.3rem;
    height: 2rem;
    width: 2rem;
    justify-content: center;
  }