@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Calligraffitti&display=swap');

/* Bagian ini dibuat untuk mengatur mergin dan padding untuk halaman html FAQ */
*{
    margin: 0;
    padding: 0;
}

/* selanjutnya dibagian body ini akan di beri tipe font quiksand dan juga mengatur warna background berwarna putih dan tulisannya berwarna hitam */
body{
    font-family: "Quicksand", sans-serif;
    background: #ffffff;
    color: rgb(0, 0, 0);
}

/* bagian ini berfungsi untuk mengatur propertis yang akan ditampilkan disection yang meliputi question dan answer nya */
section{
    padding-left: 20%;
    min-height: 65vh;
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

/* berikutnya kita akan mengatur ukuran tulisan dan margin di dalam method title ini */
.title{
    font-size: 3rem;
    margin: 2rem 0em;
}

.title sub{
    font-size: 2rem;
}

/* bagian ini mengatur tampilan box untuk menampung section question dan answer */
.faq{
    max-width: 620px;
    margin-top: 2rem;
    padding-bottom: 1rem;
    border-bottom: 2px solid rgb(0, 0, 0);
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
}

/* bagian ini akan mengatur tampilan box terkhusu untuk menampung question*/
.question{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}
/* setelah membuat tampilan boxnya , maka dilanjut dengan mengatur ukuran tulisannya*/
.question h3{
    font-size: 1.8rem;
}

/* dan begitu juga di lanjutkan untuk bagian answernya */
.answer{
    max-height: 300px;
    overflow: hidden;
    transition: max-height 1.4s ease;
    margin-left: auto;
    margin-right: auto;
}

.answer p{
    padding-top: 1rem;
    line-height: 1.6;
    font-size: 1.4rem;
    margin-left: auto;
    margin-right: auto;
}

.shipping{
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width:50%;
    width:50%;
    
}

.box{
    border: 1px solid black;
    align-items: center;
}


