<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/png" sizes="32x32" href="./images/logo_keos_web.png">
    <link rel="icon" type="image/png" sizes="16x16" href="./images/logo_keos_web.png">

    <!-- Box icons -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css"
    />
    <!-- Custom StyleSheet -->
    <link rel="stylesheet" href="css/cart.css">
    <link rel="stylesheet" href="./css/footer.css">
    <link rel="stylesheet" href="./css/header.css">
    <link rel="stylesheet" href="./css/plugins/bootstrap-checkout.min.css">
    

    <title>Cart</title>
  </head>
  <body>
<!-- Header -->
    <header id="header" class="header">
      <!-- Navigation -->
      <div class="top-nav">
        <div class="container d-flex">
          <marquee>
            <p><b>Welcome To The Cheapest, Easiest, and Trendiest Shop</b></p>
          </marquee>
          <ul class="d-flex">
            <li><a href="FAQ.html" title="Frequently Asked Question">FAQ</a></li>
            <li><a href="T&C.html" title="Terms & Conditions">T&C</a></li>
            <li><a href="Aboutus.html" title="About Us">About</a></li>
            <li><a href="contactus.html" title="Contact Us">Contact</a></li>
          </ul>
        </div>
      </div>
      <div class="navigation">
        <div class="nav-center container d-flex">
          <img src="./images/logo_keos.png" alt="AwesomeImage" height="80" width="110" class="logo-keos"/>
          <ul class="nav-list d-flex">
            <li class="nav-item">
              <a href="index.html" class="nav-link">Home</a>
            </li>
            <li class="nav-item">
              <a href="product.html" class="nav-link">Mall</a>
            </li>
            <div class="harm-nav" >
              <li class="nav-item">
                <a href="Aboutus.html" class="nav-link" title="About Us">About</a>
              </li>
              <li class="nav-item">
                <a href="contactus.html" class="nav-link" title="Contact Us">Contact</a>
              </li>
              <li class="nav-item">
                <a href="FAQ.html" class="nav-link" title="Contact Us">FAQ</a>
              </li>
              <li class="nav-item">
                <a href="T&C.html" class="nav-link" title="Contact Us">T&C</a>
              </li>
            </div> 
            <li class="icons d-flex">
              <a href="login.html" class="icon">
                <i class="bx bx-user"></i>
              </a>
              <a href="wishlist.html" class="icon">
                <i class="bx bx-heart"></i>
              </a>
              <a href="cart.html" class="icon">
                <i class="bx bx-cart"></i>
              </a>
            </li>
          </ul>
          
          <div class="icons d-flex">
            <a href="login.html" class="icon" title="Login">
              <i class="bx bx-user"></i>
            </a>
            <a href="wishlist.html" class="icon" title="Wishlist">
              <i class="bx bx-heart"></i>
            </a>
            <a href="cart.html" class="icon" title="Shopping Cart">
              <i class="bx bx-cart"></i>  
            </a>
          </div>
          <div class="hamburger">
            <i class="bx bx-menu-alt-left"></i>
          </div>
          
        </div>
      </div>
    </header>
  </body>
</html>