<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <link
    rel="icon"
    type="image/png"
    sizes="32x32"
    href="/images/logo_keos_web.png"
  />
  <link
    rel="icon"
    type="image/png"
    sizes="16x16"
    href="/images/logo_keos_web.png"
  />
  <!-- Boxicons -->
  <link
    href="https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css"
    rel="stylesheet"
  />
  <!-- Custom Stylesheet -->
  <link rel="stylesheet" href="/css/footer.css" />
  <link rel="stylesheet" href="/css/header.css" />
  <title><%= title %></title>

  <% if(state == "index") { %>
  <link rel="stylesheet" href="/css/glide.core.css" />
  <link rel="stylesheet" href="/css/glide.theme.css" />
  <link rel="stylesheet" href="/css/index.css" />
  <link rel="stylesheet" href="/css/bootstrap.min.css" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">
  <% } else if(state == "Aboutus") { %>
  <link rel="stylesheet" href="/css/Aboutus.css" />
  <link rel="stylesheet" href="/css/bootstrap.min.css" />
  <% } else if(state == "cart") { %>
  <link rel="stylesheet" href="/css/cart.css" />
  <link rel="stylesheet" href="/css/bootstrap-checkout.min.css"/>
  <% } else if(state == "contactus") { %>
  <link rel="stylesheet" href="/css/contactus.css" />
  <link rel="stylesheet" href="/css/bootstrap.min.css" />
  <% } else if(state == "FAQ") { %>
  <link rel="stylesheet" href="/css/FAQ.css" />
  <link
    href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap"
    rel="stylesheet"
  />
  <link rel="stylesheet" href="/css/bootstrap.min.css" />
  <% } else if(state == "login") { %>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <link rel="stylesheet" href="/css/login.css" />
  <link rel="stylesheet" href="/css/bootstrap.min.css" />
  <% } else if(state == "product") { %>
  <link rel="stylesheet" href="/css/product.css" />
  <link rel="stylesheet" href="/css/bootstrap.min.css" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">
  <% } else if(state == "productDetails") { %>
  <link rel="stylesheet" href="/css/productDetails.css" />
  <link rel="stylesheet" href="/css/index.css" />
  <link rel="stylesheet" href="/css/bootstrap.min.css" />
  <% } else if(state == "shipping") { %>
  <link rel="stylesheet" href="/css/shipping.css" />
  <link rel="stylesheet" href="/css/index.css" />
  <link rel="stylesheet" href="/css/bootstrap.min.css" />
  <link
    href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap"
    rel="stylesheet"
  />
  <% } else if(state == "signup") { %>
  <link rel="stylesheet" href="/css/signup.css" />
  <link rel="stylesheet" href="/css/index.css" />
  <link rel="stylesheet" href="/css/bootstrap.min.css" />
  <% } else if(state == "T&C") { %>
  <link rel="stylesheet" href="/css/T&C.css" />
  <link rel="stylesheet" href="/css/bootstrap.min.css" />
  <link
    href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap"
    rel="stylesheet"
  />
  <% } else if(state == "wishlist") { %>
  <link rel="stylesheet" href="/css/wishlist.css" />
  <link
    rel="stylesheet"
    href="/css/bootstrap-checkout.min.css"
  />


  <% } else if(state == "register") { %>
  <link rel="stylesheet" href="/css/register.css" />
  <link rel="stylesheet" href="/css/index.css" />
  <link rel="stylesheet" href="/css/bootstrap.min.css" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <% } else if(state == "registerverifcomplete") { %>
  <link rel="stylesheet" href="/css/register-verification-completed.css" />
  <link rel="stylesheet" href="/css/index.css" />
  <link rel="stylesheet" href="/css/bootstrap.min.css" />
  <% } else if(state == "registerveriferror") { %>
  <link rel="stylesheet" href="/css/register-Verification-error.css" />
  <link rel="stylesheet" href="/css/index.css" />
  <link rel="stylesheet" href="/css/bootstrap.min.css" />
  <% } else if(state == "registerverifsent") { %>
  <link rel="stylesheet" href="/css/register-verification-sent.css" />
  <link rel="stylesheet" href="/css/index.css" />
  <link rel="stylesheet" href="/css/bootstrap.min.css" />

  <% } else if(state == "resetpass") { %>
  <link rel="stylesheet" href="/css/ResetPass.css" />
  <link rel="stylesheet" href="/css/index.css" />
  <link rel="stylesheet" href="/css/bootstrap.min.css" />
  <% } else if(state == "resetpassverif") { %>
  <link rel="stylesheet" href="/css/ResetPass-verification.css" />
  <link rel="stylesheet" href="/css/index.css" />
  <link rel="stylesheet" href="/css/bootstrap.min.css" />  

  <% } else if(state == "forgetpass") { %>
  <link rel="stylesheet" href="/css/ForgetPass.css" />
  <link rel="stylesheet" href="/css/index.css" />
  <link rel="stylesheet" href="/css/bootstrap.min.css" />
  <% } else if(state == "forgetpassverif") { %>
  <link rel="stylesheet" href="/css/ForgetPass-Verification.css" />
  <link rel="stylesheet" href="/css/index.css" />
  <link rel="stylesheet" href="/css/bootstrap.min.css" />
  <% } else if(state == "transaction") { %>
  <link rel="stylesheet" href="/css/signup.css" />
  <link rel="stylesheet" href="/css/index.css">
  <link rel="stylesheet" href="/css/plugins/bootstrap.min.css">
  <% } %>
</head>
