<!DOCTYPE html>
<html>
<%- include('../layouts/header.ejs', {title: 'KeosYaro' , state: 'Aboutus' }); %>
  <body>
    <%- include('../layouts/navbar.ejs', {types: 'v2', state: 'Aboutus'}); %>
        <!-- Section -->
        <section class="aboutus">
          <div class="main">
            <img src="/public/images/hero-1.png">
            <div class="aboutus-text">
              <h1>About Us</h1>
              <h5>KeosYaro</h5>
              <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsa, error ipsam. Maxime numquam odit fugiat veritatis deserunt incidunt molestiae, voluptatum in quisquam, magnam veniam dolorum esse velit ipsa dignissimos eum.</p>
            </div>
          </div>
        </section>
    <%- include('../layouts/footer.ejs', {state: 'Aboutus'}); %>
  </body> 
</html>