<!DOCTYPE html>
<html>
<%- include('../layouts/header.ejs', {title: 'KeosYaro' , state: 'Aboutus' }); %>
  <body>
    <%- include('../layouts/navbar.ejs', {types: 'v2', state: 'Aboutus'}); %>
        <!-- Section -->
        <section class="aboutus">
          <div class="main">
            <img src="/images/hero-1.png">
            <div class="aboutus-text">
              <h1>About Us</h1>
              <h5>KeosYaro</h5>
              <p>Based in Indonesia, Jakarta, KeosYaro, Inc. We’re the
                one of the best e-commerce in the world because 
                we keep our product with the best quality.</p>
            </div>
          </div>
        </section>
    <%- include('../layouts/footer.ejs', {state: 'Aboutus'}); %>
  </body> 
</html>