<!DOCTYPE html>
<html lang="en">
  <%- include('../layouts/header.ejs', {title: 'Shopping Cart' , state: 'cart' }); %>
  <body>
    <%- include('../layouts/navbar.ejs', {types: 'v2', state: 'cart'}); %>
    <div class="container-title">
      <h1>shopping cart</h1>
      <div class="container-sub-title">
        <h3>Products will be stored here before payment.</h3>
      </div>
    </div>
    <!-- Cart Items -->
    <div class="container cart" id="view-cart">
      <table class="containertable">
        <tr>
          <th>Product</th>
          <th>Quantity</th>
          <th>Subtotal</th>
        </tr>
      </table>
      <div class="total-price">
        <table>
          <tr>
            <td>Total</td>
            <td>IDR 0</td>
          </tr>
        </table>
        <button class="checkout">Proceed To Checkout</button>
        
      </div>
    </div>



  <!-- The Modal -->
  <div id="myModal" class="modal">

    <div class="modal-content">
      <div class="contain">

        <form action="myForm">
          <span class="close">X</span>

              <div class="row">

                <div class="col">

                    <h3 class="title">billing address</h3>

                    <div class="inputBox">
                        <span>full name :</span>
                        <input type="text" placeholder="John Doe" required>
                    </div>
                    <div class="inputBox">
                        <span>email :</span>
                        <input type="email" placeholder="example@example.com">
                    </div>
                    <div class="inputBox">
                        <span>address :</span>
                        <input type="text" placeholder="House - Street - Regency">
                    </div>
                    <div class="inputBox">
                        <span>city :</span>
                        <input type="text" placeholder="Jakarta Barat">
                    </div>

                    <div class="flex">
                        <div class="inputBox">
                            <span>Province :</span>
                            <input type="text" placeholder="DKI Jakarta">
                        </div>
                        <div class="inputBox">
                            <span>zip code :</span>
                            <input type="text" placeholder="11130">
                        </div>
                    </div>

                </div>

                <div class="col">

                    <h3 class="title">Cart Details</h3>
                    <div class="checkout-container">
                      <table>
                        
                      </table>
                      <span class="final-price">Total &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: Error
                        <br/>Shipping : Error<br/><br/>
                        Final &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: Error</span>
                    </div>
                  </div>
                <div class="col">

                  <h3 class="title">payment</h3>

                  <div class="inputBox">
                      <span>cards accepted :</span>
                      <img src="/images/card_img.png" alt="">
                  </div>
                  <div class="inputBox">
                      <span>name on card :</span>
                      <input type="text" placeholder="John Doe">
                  </div>
                  <div class="inputBox">
                      <span>credit card number :</span>
                      <input type="number" placeholder="1111-2222-3333-4444">
                  </div>
                  <div class="inputBox">
                      <span>exp month :</span>
                      <input type="text" placeholder="January">
                  </div>

                  <div class="flex">
                      <div class="inputBox">
                          <span>exp year :</span>
                          <input type="number" placeholder="2022">
                      </div>
                      <div class="inputBox">
                          <span>CVV :</span>
                          <input type="text" placeholder="1234">
                      </div>
                  </div>
                </div> 
              </div>

            <input type="submit" value="Checkout" class="submit-btn">
        </form>
      </div>    
    </div>
  </div>
    <%- include('../layouts/footer.ejs', {state: 'cart'}); %>
  </body>
</html>
