<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/png" sizes="32x32" href="/public/images/logo_keos_web.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/public/images/logo_keos_web.png">
    <title>FAQs</title>
    <link rel="stylesheet" href="/public/css/FAQ.css" >
    <link rel="stylesheet" href="/public/css/header.css">
    <link rel="stylesheet" href="/public/css/footer.css">
    <link rel="stylesheet" href="/public/css/plugins/bootstrap.min.css">

    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css">
</head>
<body>
    <header id="header" class="header">
    <!-- Header -->
      <!-- Navigation -->
      <div class="top-nav">
        <div class="container d-flex">
          <marquee>
            <p><b>Welcome To The Cheapest, Easiest, and Trendiest Shop</b></p>
          </marquee>
          <ul class="d-flex">
            <li><a href="FAQ.html" title="Frequently Asked Question">FAQ</a></li>
            <li><a href="T&C.html" title="Terms & Conditions">T&C</a></li>
            <li><a href="Aboutus.html" title="About Us">About</a></li>
            <li><a href="contactus.html" title="Contact Us">Contact</a></li>
          </ul>
        </div>
      </div>
      <div class="navigation">
        <div class="nav-center container d-flex">
          <img src="/public/images/logo_keos.png" alt="AwesomeImage" height="80" width="110" class="logo-keos"/>
          <ul class="nav-list d-flex">
            <li class="nav-item">
              <a href="index.html" class="nav-link">Home</a>
            </li>
            <li class="nav-item">
              <a href="product.html" class="nav-link">Mall</a>
            </li>
            <div class="harm-nav" >
              <li class="nav-item">
                <a href="Aboutus.html" class="nav-link" title="About Us">About</a>
              </li>
              <li class="nav-item">
                <a href="contactus.html" class="nav-link" title="Contact Us">Contact</a>
              </li>
              <li class="nav-item">
                <a href="FAQ.html" class="nav-link" title="Contact Us">FAQ</a>
              </li>
              <li class="nav-item">
                <a href="T&C.html" class="nav-link" title="Contact Us">T&C</a>
              </li>
            </div> 
            <li class="icons d-flex">
              <a href="login.html" class="icon">
                <i class="bx bx-user"></i>
              </a>
              <a href="wishlist.html" class="icon">
                <i class="bx bx-heart"></i>
              </a>
              <a href="cart.html" class="icon">
                <i class="bx bx-cart"></i>
              </a>
            </li>
          </ul>
         
          
          <div class="icons d-flex">
            <a href="login.html" class="icon" title="Login">
              <i class="bx bx-user"></i>
            </a>
            <a href="wishlist.html" class="icon" title="Wishlist">
              <i class="bx bx-heart"></i>
            </a>
            <a href="cart.html" class="icon" title="Shopping Cart">
              <i class="bx bx-cart"></i>  
            </a>
          </div>
          <div class="hamburger">
            <i class="bx bx-menu-alt-left"></i>
          </div>
          
        </div>
      </div>
    </header>
        
        
        <section>
          <h1 class="title">FAQs</h1>
          <div class="faq">
                <div class="question">
                  <h3>How do I order from the online store of Quality Shop ? .........</h3>
                  <svg width="80" height="10" viewBox="0 0 47 25">
                    <path 
                      d="M3 3L21 21L39 3" 
                      stroke="pink"  
                      stroke-width="9" 
                      stroke-linecap="round" 
                    />
                  </svg>
                </div>
                <div class="answer">
                    <p>- Select the product of your choice by clicking on it.</p>
                    <P>- Add the product to your shopping cart by clicking the 'add to cart' button.</P>
                    <P>- The product is added to your shopping cart, feel free to continue shopping in our online store.</P>
                    <P>- Enter your personal details and choose a payment method.</P>
                    <P>- Please review your order on the overview page and click the 'pay' button.</P>
                    <P>- You will be redirected to a secure environment to pay and finalize your order.</P>
                    <p>- You will receive an e-mail confirmation of your order.</p>
                </div>
          </div>

          <div class="faq">
                <div class="question">
                    <h3>How do you describe the quality of the product? ..................</h3>

                    <svg width="80" height="10" viewBox="0 0 42 25">
                        <path 
                            d="M3 3L21 21L39 3" 
                            stroke="pink"  
                            stroke-width="9" 
                            stroke-linecap="round" 
                        />
                    </svg>

                </div>
                <div class="answer">
                    <p>
                        Using these perspectives, you can define product quality according 
                    </p>
                </div>
            </div>

          <div class="faq">
                <div class="question">
                    <h3>What delivery services types of delivery are available ? .......</h3>

                    <svg width="80" height="10" viewBox="0 0 42 25">
                        <path 
                            d="M3 3L21 21L39 3" 
                            stroke="pink" 
                            stroke-width="9" 
                            stroke-linecap="round" 
                        />
                    </svg>
                    
                </div>
                <div class="answer">
                    <p>
                        We can use JNE or J&T express.
                    </p>
                </div>
            </div>

            <div class="faq">
                <div class="question">
                    <h3>When will my order arrived ? ...............................................</h3>

                    <svg width="80" height="10" viewBox="0 0 42 25">
                        <path 
                            d="M3 3L21 21L39 3" 
                            stroke="pink"  
                            stroke-width="9" 
                            stroke-linecap="round" 
                        />
                    </svg>
                     
                </div>
                  <div class="answer">
                    <p>Delivery takes place within 3 to 10 business days from the date of order.</p>
                  </div>
            </div>



            <div class="faq">
                <div class="question">
                    <h3>What if I'm not home when the order arrives ? .....................</h3>

                    <svg width="80" height="10" viewBox="0 0 42 25">
                        <path 
                            d="M3 3L21 21L39 3" 
                            stroke="pink" 
                            stroke-width="9" 
                            stroke-linecap="round" 
                        />
                    </svg>
                     
                </div>
                <div class="answer">
                    <p>If you cannot receive your order, please call us </p>
                </div>
            </div>

            <div class="faq">
                <div class="question">
                    <h3>Will I be notified when the item will be delivered ? ...............</h3>

                    <svg width="80" height="10" viewBox="0 0 42 25">
                        <path 
                            d="M3 3L21 21L39 3" 
                            stroke="pink"  
                            stroke-width="9" 
                            stroke-linecap="round" 
                        />
                    </svg>
                     
                </div>
                <div class="answer">
                    <p>You will receive an SMS or call notification before your item delivered </p>
                </div>
            </div>

        </section>

<br>
<!-- Footer -->
<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="footer-col">
        <h4>INFORMATION</h4>
        <ul>
          <li><a href="Aboutus.html">about us</a></li>
          <li><a href="contactus.html">contact us</a></li>
          <li><a href="T&C.html">terms and conditions</a></li>

        </ul>
      </div>
      <div class="footer-col">
        <h4>GET HELP</h4>
        <ul>
          <li><a href="FAQ.html">FAQ</a></li>
          <li><a href="shipping.html">shipping</a></li>
        </ul>
      </div>
      <div class="footer-col">
      </div>
      
      <div class="footer-col">
        <h4>FOLLOW US</h4>
        <div class="social-links">
          <a href="https://www.facebook.com/untarjakarta"><i class="bx bxl-facebook"></i></a>
          <a href="https://www.instagram.com/untarjakarta/"><i class="bx bxl-instagram-alt"></i></a>
          <a href="https://github.com/Testfirsthehehe"><i class="bx bxl-github"></i></a>
          <a href="https://twitter.com/untarjakarta"><i class="bx bxl-twitter"></i></a>
          <a href="https://www.youtube.com/UniversitasTarumanagara"><i class="bx bxl-youtube"></i></a>
        </div>
      </div>
    </div>
  </div>
  <button type="button" class="btn btn-danger btn-floating btn-lg" id="btn-back-to-top">
    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-arrow-up"
      viewBox="0 0 16 16">
      <path fill-rule="evenodd"
        d="M8 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L7.5 2.707V14.5a.5.5 0 0 0 .5.5z" />
    </svg>
  </button>
  <div class="bottom-footer">
    <div class="container">
        <p>© NO copyright 2022 <a href="#" style="color: blue">KeosYaro.Inc</a></p>
    </div>
  </div>
</footer>

        <script src="/public/js/FAQ.js"></script>
        <script src="/public/js/footer.js"></script>
        <script src="/public/js/header.js"></script>
    </body>
</html>