<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/png" sizes="32x32" href="/public/images/logo_keos_web.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/public/images/logo_keos_web.png">
    <!-- Box icons -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css"
    />
    <!-- Custom StyleSheet -->
    <link rel="stylesheet" href="/public/css/ForgetPass.css">
    <link rel="stylesheet" href="/public/css/index.css">
    <link rel="stylesheet" href="/public/css/footer.css">
    <link rel="stylesheet" href="/public/css/header.css">
    <link rel="stylesheet" href="/public/css/plugins/bootstrap.min.css">
    <title>ForgetPass</title>
  </head>
  <body>
    <!-- Header -->
    <header id="header" class="header">
    <!-- Navigation -->
      <div class="top-nav">
        <div class="container d-flex">
          <marquee>
            <p><b>Welcome To The Cheapest, Easiest, and Trendiest Shop</b></p>
          </marquee>
          <li><a href="FAQ.html" title="Frequently Asked Question">FAQ</a></li>
          <li><a href="T&C.html" title="Terms & Conditions">T&C</a></li>
          <li><a href="Aboutus.html" title="About Us">About</a></li>
          <li><a href="contactus.html" title="Contact Us">Contact</a></li>
          </ul>
        </div>
      </div>
      <div class="navigation">
        <div class="nav-center container d-flex">
          <img src="/public/images/logo_keos.png" alt="AwesomeImage" height="80" width="110" class="logo-keos"/>
          <ul class="nav-list d-flex">
            <li class="nav-item">
              <a href="index.html" class="nav-link">Home</a>
            </li>
            <li class="nav-item">
              <a href="product.html" class="nav-link">Mall</a>
            </li>
            <div class="harm-nav" >
              <li class="nav-item">
                <a href="Aboutus.html" class="nav-link" title="About Us">About</a>
              </li>
              <li class="nav-item">
                <a href="contactus.html" class="nav-link" title="Contact Us">Contact</a>
              </li>
              <li class="nav-item">
                <a href="FAQ.html" class="nav-link" title="Contact Us">FAQ</a>
              </li>
              <li class="nav-item">
                <a href="T&C.html" class="nav-link" title="Contact Us">T&C</a>
              </li>
            </div> 
            <li class="icons d-flex">
              <a href="login.html" class="icon">
                <i class="bx bx-user"></i>
              </a>
              <a href="wishlist.html" class="icon">
                <i class="bx bx-heart"></i>
              </a>
              <a href="cart.html" class="icon">
                <i class="bx bx-cart"></i>
              </a>
            </li>
          </ul>
                    
          <div class="icons d-flex">
            <a href="login.html" class="icon" title="Login">
              <i class="bx bx-user"></i>
            </a>
            <a href="wishlist.html" class="icon" title="Wishlist">
              <i class="bx bx-heart"></i>
            </a>
            <a href="cart.html" class="icon" title="Shopping Cart">
              <i class="bx bx-cart"></i>  
            </a>
          </div>
          <div class="hamburger">
            <i class="bx bx-menu-alt-left"></i>
          </div>
          
        </div>
      </div>
    </header>

    
      <div class="col">
          <div class="card text-white col-md-8 col-lg-6 col-xl-5"><br><br>
              <h1 class="card-header text-white" style="text-align: center;">Forgot Password</h1>
              <div class="py-3 text" style="padding: 2.5% 10%; text-align: center;">
                  <a>Enter your email to receive a link to reset your password.</a>
              </div>
              <div class="card-body" style="text-align: center;">
                <label for="email"><i class="bx bx-envelope"></i> <b>Email</b></label><br>
                  <form class="px-4 py-3" action="forgot-password" method="POST">
                      <div class="form-group" style="text-align: center;">
                          <a data-feather="mail" href="" style="font-size: 40px;"></a>
                          <label for="exampleDropdownFormEmail1">Email : </label>
                          <input class="form-control input-sm text-center"
                              placeholder="Email address" type="email" id="email" name="email">
                      </div>
                      <div class="buttons"><br>
                        <div class="resetpassword" style="text-align: center;">
                          <button type="button" onclick="location.href = 'Forget-Verification.html';" value="Login" id="ForgetVerifyButton">Send</button>
                        </div>
                      </div>
                      <br><br>
                      <div class="hoverforgot-1" style="text-align: center;">
                        <a href="login.html" style="color: blue">Or Return to Log In</a><br><br>
                        <br><br>
                      </div>
                  </form>
              </div>
          </div>
      </div>
    
    <!-- Footer -->
    <footer class="footer">
      <div class="container">
        <div class="row">
          <div class="footer-col">
            <h4>INFORMATION</h4>
            <ul>
              <li><a href="Aboutus.html">about us</a></li>
              <li><a href="contactus.html">contact us</a></li>
              <li><a href="T&C.html">terms and conditions</a></li>

            </ul>
          </div>
          <div class="footer-col">
            <h4>GET HELP</h4>
            <ul>
              <li><a href="FAQ.html">FAQ</a></li>
              <li><a href="shipping.html">shipping</a></li>
            </ul>
          </div>
          <div class="footer-col">
          </div>
          
          <div class="footer-col">
            <h4>FOLLOW US</h4>
            <div class="social-links">
              <a href="https://www.facebook.com/untarjakarta"><i class="bx bxl-facebook"></i></a>
              <a href="https://www.instagram.com/untarjakarta/"><i class="bx bxl-instagram-alt"></i></a>
              <a href="https://github.com/Testfirsthehehe"><i class="bx bxl-github"></i></a>
              <a href="https://twitter.com/untarjakarta"><i class="bx bxl-twitter"></i></a>
              <a href="https://www.youtube.com/UniversitasTarumanagara"><i class="bx bxl-youtube"></i></a>
            </div>
          </div>
        </div>
      </div>
      <div class="bottom-footer">
        <div class="container">
            <p>© NO copyright 2022 <a href="#" style="color: blue">KeosYaro.Inc</a></p>
        </div>
      </div>
    </footer>
    
    <!-- <script src="/public/js/ForgetPass.js"></script> -->
    <script src="/public/js/footer.js"></script>
    <script src="/public/js/header.js"></script>
  </body>
</html>