<!DOCTYPE html>
<html lang="en">
  <%- include('../layouts/header', {title: 'Login' , state: 'login' }); %>
  <body>
    <%- include('../layouts/navbar', {types: 'v2', state: 'login'}); %>

    <!-- Login -->
    <div class="container" >
      <div class="login-form">
        <form action="" >
          <div id="loginForm" style="text-align: center;">
          <h1>Login</h1>
          <p><img src="/public/images/login.gif" alt="" width="30%"></p>
          <p>
            Don't have an account? Sign up
            <a href="register">here</a>.
          </p>

          <label for="email"><i class="bx bx-envelope"></i> <b>Email</b></label><br><br>
          <input type="text" placeholder="Enter Email" id="email" class="email-password"required /><br>

          <label for="password"><i class="bx bx-lock-alt"></i><b>Password</b></label><br><br>
          <input
            type="password"
            placeholder="Enter Password"
            id="password"
            class="email-password"
            required
          /><br>
          <label>
            <input 
            type="checkbox" 
            checked="checked" 
            style="margin-bottom:15px ; margin-left: 0 px;"/> Remember me
          </label>
          <a href="ForgetPass" style="margin-left: 14rem; font-size:1.4rem;">
          Forgot your password?</a>
          <p>
            By continuing you agree to our
            <a href="T&C">Terms & Conditions</a>.
          </p>
          
          </div>
        
        <div class="buttons">
          <button type="button" onclick="location.href = 'index';" value="Login" id="loginButton">Login</button>
        </div>
        </form>
      </div>
    </div>
    <!-- Custom Script -->
    <script src="/public/js/login.js"></script>
    <script src="/public/js/footer.js"></script>
    <script src="/public/js/header.js"></script>
    <%- include('../layouts/footer', {state: 'login'}); %>
  </body>
</html>
