<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/png" sizes="32x32" href="/public/images/logo_keos_web.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/public/images/logo_keos_web.png">
    <!-- Box icons -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css"
    />
    <!-- Custom StyleSheet -->
    <link rel="stylesheet" href="/public/css/register-verification-sent.css" />
    <link rel="stylesheet" href="/public/css/index.css">
    <link rel="stylesheet" href="/public/css/footer.css">
    <link rel="stylesheet" href="/public/css/header.css">
    <link rel="stylesheet" href="/public/css/plugins/bootstrap.min.css">
    <title>register-verification-sent</title>
  </head>
  <body>
    <header id="header" class="header">
    <!-- Header -->
      <!-- Navigation -->
      <div class="top-nav">
        <div class="container d-flex">
          <marquee>
            <p><b>Welcome To The Cheapest, Easiest, and Trendiest Shop</b></p>
          </marquee>
          <ul class="d-flex">
            <li><a href="FAQ.html" title="Frequently Asked Question">FAQ</a></li>
            <li><a href="T&C.html" title="Terms & Conditions">T&C</a></li>
            <li><a href="Aboutus.html" title="About Us">About</a></li>
            <li><a href="contactus.html" title="Contact Us">Contact</a></li>
          </ul>
        </div>
      </div>
      <div class="navigation">
        <div class="nav-center container d-flex">
          <img src="/public/images/logo_keos.png" alt="AwesomeImage" height="80" width="110" class="logo-keos"/>
          <ul class="nav-list d-flex">
            <li class="nav-item">
              <a href="index.html" class="nav-link">Home</a>
            </li>
            <li class="nav-item">
              <a href="product.html" class="nav-link">Mall</a>
            </li>
            <div class="harm-nav" >
              <li class="nav-item">
                <a href="Aboutus.html" class="nav-link" title="About Us">About</a>
              </li>
              <li class="nav-item">
                <a href="contactus.html" class="nav-link" title="Contact Us">Contact</a>
              </li>
              <li class="nav-item">
                <a href="FAQ.html" class="nav-link" title="Contact Us">FAQ</a>
              </li>
              <li class="nav-item">
                <a href="T&C.html" class="nav-link" title="Contact Us">T&C</a>
              </li>
            </div> 
            <li class="icons d-flex">
              <a href="login.html" class="icon">
                <i class="bx bx-user"></i>
              </a>
              <a href="wishlist.html" class="icon">
                <i class="bx bx-heart"></i>
              </a>
              <a href="cart.html" class="icon">
                <i class="bx bx-cart"></i>
              </a>
            </li>
          </ul>
          
          
          <div class="icons d-flex">
            <a href="login.html" class="icon" title="Login">
              <i class="bx bx-user"></i>
            </a>
            <a href="wishlist.html" class="icon" title="Wishlist">
              <i class="bx bx-heart"></i>
            </a>
            <a href="cart.html" class="icon" title="Shopping Cart">
              <i class="bx bx-cart"></i>  
            </a>
          </div>
          <div class="hamburger">
            <i class="bx bx-menu-alt-left"></i>
          </div>
          
        </div>
      </div>
    </header>

<div class="container">
    <div data-aos="fade-in" data-aos-delay="500" class="container">
        <div class="row">
            <div class="col">
                <div class="card col-md-6 col-lg-6 col-xl-8">
                    <div class="card-header" style="color: rgb(0, 0, 0);">
                        <h2>Verify Your Email Address</h2>
                    </div>
                    <img src="https://media.giphy.com/media/nv6bOexvEyVV50U4Qz/giphy.gif" class="Verify">
                    <div class="card-body">
                        <h5 class="card-text" style="color: #000000;">Before proceeding, please check your email for a
                            verification link
                            to verify your email address.</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



    <!-- Footer -->
    <footer class="footer">
        <div class="container">
          <div class="row">
            <div class="footer-col">
              <h4>INFORMATION</h4>
              <ul>
                <li><a href="Aboutus.html">about us</a></li>
                <li><a href="contactus.html">contact us</a></li>
                <li><a href="T&C.html">terms and conditions</a></li>
  
              </ul>
            </div>
            <div class="footer-col">
              <h4>GET HELP</h4>
              <ul>
                <li><a href="#">FAQ</a></li>
                <li><a href="#">shipping</a></li>
  
              </ul>
            </div>
            <div class="footer-col">
            </div>
            
            <div class="footer-col">
              <h4>FOLLOW US</h4>
              <div class="social-links">
                <a href="https://www.facebook.com/untarjakarta"><i class="bx bxl-facebook"></i></a>
                <a href="https://www.instagram.com/untarjakarta/"><i class="bx bxl-instagram-alt"></i></a>
                <a href="https://github.com/Testfirsthehehe"><i class="bx bxl-github"></i></a>
                <a href="https://twitter.com/untarjakarta"><i class="bx bxl-twitter"></i></a>
                <a href="https://www.youtube.com/UniversitasTarumanagara"><i class="bx bxl-youtube"></i></a>
              </div>
            </div>
          </div>
        </div>
        <div class="bottom-footer">
          <div class="container">
              <p>© NO copyright 2022 <a href="#" style="color: blue">KeosYaro.Inc</a></p>
          </div>
        </div>
      </footer>
  
      <!-- Custom Script -->
      <script src="/public/js/signup.js"></script>
      <script src="/public/js/footer.js"></script>
      <script src="/public/js/header.js"></script>
    </body>
  </html>