<!DOCTYPE html>
<html lang="en">
  <%- include('../layouts/header.ejs', {title: 'Register Verification Error' , state: 'registerveriferror' }); %>
  <body>
    <%- include('../layouts/navbar.ejs', {types: 'v2', state: 'registerveriferror'}); %>

    <div data-aos="fade-in" data-aos-delay="500" class="container" style="text-align: center;">
        <div class="col">
            <div class="card col-md-6 col-lg-6 col-xl-8">
                <div class="card-header" style="color: rgb(255, 0, 0);">
                    <h2>ERROR !!!</h2>
                </div>
                <img src="https://media.giphy.com/media/3o7522nOLccs9GVRqE/giphy.gif" class="VerifyGif3">
                <div class="card-body">
                    <h5 class="card-text" style="font-size: 20px;" style="color: rgb(0, 0, 0);">An error has occured... Make sure to check if you have empty fields, or if your email has been registered before. Click the button below to get back to the register page.</h5>
                    <br style="display: block;content: ' ';margin: 1vw 0;line-height: 1vw;">
                    <a style="font-size: 20px; color: blue;" class="btn btn-primary" href="register.ejs">Register</a><br><br>                    
                </div>
            </div>
        </div>
    </div>
  
      <!-- Custom Script -->
      <script src="/public/js/footer.js"></script>
      <script src="/public/js/header.js"></script>
      <%- include('../layouts/footer.ejs', {state: 'registerveriferror'}); %>
    </body>
  </html>