<!DOCTYPE html>
<html lang="en">
  <%- include('../layouts/header', {title: 'Register' , state: 'register' }); %>
  <body>
    <%- include('../layouts/navbar', {types: 'v2', state: 'register'}); %>

    <!-- Register -->
    <div class="container" >
      <div class="login-form">
        <form action="" >
          <div id="loginForm" style="text-align:center ;">
          <h1 >Register</h1>
          <p><img src="./images/sign_up.gif" alt="AwesomeImage" width="40%"></p>
          <p>
            Already have an account? Login 
            <a href="login" >here</a>.
          </p>
          
          <input type="text" placeholder="First name" id="fname" class="email-password" required/><br>

          
          <input type="text" placeholder="Last name" id="lname" class="email-password" required/><br>

          
          <input type="text" placeholder="Email Address" id="email" class="email-password" required /><br>

          
          <input
            type="password"
            placeholder="Password"
            id="password"
            class="email-password"
            required
          /><br>
          
          <p>
            By creating an account you agree to our
            <a href="T&C">Terms & Conditions</a>.
          </p>
          </div>
          
          <div class="buttons">
            <button type="button" onclick="location.href = 'register-verification-sent';" value="Login" id="registerButton">Register</button>
          </div>
        </form>
      </div>
    </div>
    <%- include('../layouts/footer', {state: 'register'}); %>
  </body>
</html>
