<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/png" sizes="32x32" href="/public/images/logo_keos_web.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/public/images/logo_keos_web.png">
    <title>T&C</title>
    <link rel="stylesheet" href="/public/css/T&C.css" >
    <link rel="stylesheet" href="/public/css/header.css">
    <link rel="stylesheet" href="/public/css/footer.css">
    <link rel="stylesheet" href="/public/css/plugins/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css">
</head>
<body>
    <header id="header" class="header">
    <!-- Header -->
      <!-- Navigation -->
      <div class="top-nav">
        <div class="container d-flex">
          <marquee>
            <p><b>Welcome To The Cheapest, Easiest, and Trendiest Shop</b></p>
          </marquee>
          <ul class="d-flex">
            <li><a href="FAQ.html" title="Frequently Asked Question">FAQ</a></li>
            <li><a href="T&C.html" title="Terms & Conditions">T&C</a></li>
            <li><a href="Aboutus.html" title="About Us">About</a></li>
            <li><a href="contactus.html" title="Contact Us">Contact</a></li>
          </ul>
        </div>
      </div>
      <div class="navigation">
        <div class="nav-center container d-flex">
          <img src="/public/images/logo_keos.png" alt="AwesomeImage" height="80" width="110" class="logo-keos"/>
          <ul class="nav-list d-flex">
            <li class="nav-item">
              <a href="index.html" class="nav-link">Home</a>
            </li>
            <li class="nav-item">
              <a href="product.html" class="nav-link">Mall</a>
            </li>
            <div class="harm-nav" >
              <li class="nav-item">
                <a href="Aboutus.html" class="nav-link" title="About Us">About</a>
              </li>
              <li class="nav-item">
                <a href="contactus.html" class="nav-link" title="Contact Us">Contact</a>
              </li>
              <li class="nav-item">
                <a href="FAQ.html" class="nav-link" title="Contact Us">FAQ</a>
              </li>
              <li class="nav-item">
                <a href="T&C.html" class="nav-link" title="Contact Us">T&C</a>
              </li>
            </div> 
            <li class="icons d-flex">
              <a href="login.html" class="icon">
                <i class="bx bx-user"></i>
              </a>
              <a href="wishlist.html" class="icon">
                <i class="bx bx-heart"></i>
              </a>
              <a href="cart.html" class="icon">
                <i class="bx bx-cart"></i>
              </a>
            </li>
          </ul>
         
          
          <div class="icons d-flex">
            <a href="login.html" class="icon" title="Login">
              <i class="bx bx-user"></i>
            </a>
            <a href="wishlist.html" class="icon" title="Wishlist">
              <i class="bx bx-heart"></i>
            </a>
            <a href="cart.html" class="icon" title="Shopping Cart">
              <i class="bx bx-cart"></i>  
            </a>
          </div>
          <div class="hamburger">
            <i class="bx bx-menu-alt-left"></i>
          </div>
          
        </div>
      </div>
    </header>

    <div class="container-term">
        <div class="term-text">
            <h1>T&C</h1>
            <h3><b>HAK DAN KEWAJIBAN PENGGUNA</b></h3>
            <p>Setiap Pengguna berkewajiban untuk membayar penuh atas transaksi yang dilakukan sesuai dengan ketentuan transaksi dan pembayaran.
            Setiap Pengguna bertanggung jawab atas seluruh hal yang dilakukan di situs www.keosyaro.com yang diatasnama Pengguna tersebut.
            Setiap Pengguna bertanggung jawab sepenuhnya jika Pengguna melakukan pelanggaran terhadap ketentuan-ketentuan yang telah dirincikan pada Perjanjian ini, dan menyetujui untuk melepaskan Kami beserta afiliasinya atas seluruh kerugian yang diakibatkan oleh pelanggaran yang dilakukan oleh Pengguna.
            Pengguna berhak mendapatkan barang/produk yang sesuai dan telah dibayar penuh sebelumnya oleh Pengguna, tidak dapat dikembalikan atau dibatalkan secara sepihak oleh Pengguna.
            Pengguna berhak mendapatkan barang/produk yang telah dibayar penuh sepanjang barang/produk tersebut dicantumkan dengan harga dan rabat yang benar dan tidak mengandung informasi yang salah termasuk tidak terbatas pada akibat kesalahan pengetikan maupun kesalahan sistim operasional situs www.keosyaro.com.</p>
  
            <h3><b>DESKRIPSI PRODUK</b></h3>
            <p>www.keosyaro.com selalu berusaha untuk memberikan deskripsi produk seakurat mungkin. Tetapi kami tidak dapat 100% menjamin bahwa seluruh deskripsi atau konten yang terdapat di dalam website adalah akurat, lengkap, terbaru, atau bebas error. Jika produk yang ditawarkan oleh kami tidak sesuai dengan yang tertera dalam deskripsi produk, maka Anda dapat mengembalikannya dalam keadaan belum terpakai / buka segel.</p>
  
  
  
            <h3><b>HARGA</b></h3>
            <p>Jika dalam keadaan tertentu, terdapat kesalahan harga ataupun informasi mengenai suatu produk tertentu yang disebabkan oleh kesalahan pengetikan (Typo) atau kesalahan harga dan informasi yang berasal dari supplier maupun human error dan system error, kami berhak untuk menolak ataupun membatalkan pesanan yang menggunakan harga yang salah termasuk pesanan yang sudah dibayarkan. Dan kami tidak bertanggung jawab jika Anda menjual/memasarkan kembali produk Kami sebelum adanya kesepakatan atau proses transaksi antara pihak Kami dengan Anda selaku pelanggan/pengunjung situs web Kami.</p>
  
  
  
            <h3><b>REVIEW & KOMENTAR</b></h3>
            <p>Seluruh Komentar dan Review yang dituliskan di website ini akan dikategorikan dan diperlakukan sebagai konten yang bersifat tidak rahasia.
            Review yang telah dituliskan menjadi milik keosyaro.com dan tidak dapat dikembalikan.
            Anda dilarang menulis dengan menggunakan identitas orang lain.
            Anda dilarang untuk menuliskan komentar atau review yang mengandung kalimat pelecehan terhadap keosyaro.com atau pihak ketiga lainnya.
            keosyaro.com berhak merubah atau menghapus komentar dan review yang mengandung unsur kalimat yang tidak layak tayang (SARA, Pornografi, Pelecehan, Penghinaan, Pencemaran , dsb).</p>
  
  
            <h3><b>KETENTUAN PEMBAYARAN</b></h3>
            <p>Kami bekerja sama dengan penyedia jasa perbankan/pembayaran yang terpercaya dalam menyediakan berbagai metode pembayaran yang dapat digunakan oleh Pengguna.
            Setiap Pengguna berhak untuk memilih metode pembayaran yang telah disediakan oleh Kami, yang mana Pengguna merasa lebih nyaman dan mudah dalam bertransaksi dengan situs www.keosyaro.com, di mana setiap biaya transaksi pembayaran akan ditangguhkan kepada pengguna tersebut.
            Setiap Pengguna berkewajiban untuk membayar penuh atas pemesanan yang dilakukan dalam jangka waktu yang ditentukan oleh Kami spesifik untuk setiap metode pembayaran sebelum Kami dapat memproses lebih lanjut atas pemesanan Pengguna. Bilamana Pengguna belum melaksanakan pembayaran dalam kurun waktu yang ditentukan maka Kami berhak menyatakan bahwa pemesanan telah dibatalkan oleh Pengguna tersebut.
            Setiap Pengguna dapat mengklarifikasi transaksi pembayaran yang telah dilaksanakan secara langsung ke penyedia jasa perbankan yang bekerja sama dengan Kami sesuai dengan syarat dan ketentuan yang berlaku.</p>
  
  
            <h3><b>TRANSAKSI</b></h3>
            <p>Harga yang tertera di katalog produk website www.keosyaro.com belum termasuk Ongkos Kirim, Tarif Armada ataupun kurir ke luar kota (ekspedisi).
            Untuk pembelian online melalui shopping cart, pesanan dan pengiriman akan diproses setelah pembayaran diterima oleh pihak www.keosyaro.com.
            Lama waktu pengiriman disesuaikan dengan area layanan daerah tujuan. 
            Untuk pengiriman yang menggunakan ekspedisi, www.keosyaro.com bekerja sama dengan pihak jasa kurir services dengan disertai asuransi untuk mencegah kehilangan atau kerusakan selama dalam perjalanan.
            Sebagian barang tidak ex-stock sehingga diperlukan pemesanan sebelumnya.
            Setiap produk yang dibeli dari kami dilengkapi dengan masa garansi yang disesuaikan dengan garansi pabrik masing-masing produk.
            Barang yang telah dibeli tidak dapat dikembalikan atau ditukar dengan barang lain, kecuali ada perjanjian terlebih dahulu.
            Segala usaha maksimal telah dilakukan untuk menyakinkan ketepatan seluruh informasi yang dimuat. www.keosyaro.com tidak menjamin dengan segala hormat akan ketepatan data tersebut, termasuk spesifikasi produk maupun editorial.
            Jika dalam masa garansi, terjadi kerusakan pada barang, silakan menghubungi Technical Center www.keosyaro.com  di Nomor telepon 021-6231 3066atau email cs@keosyaro.com
            Bila bantuan melalui telephone tidak berhasil, silakan kirim kembali produk yang rusak kepada www.keosyaro.com. Biaya pengiriman kembali produk yang telah diperbaiki/tukar akan menjadi tanggungan www.keosyaro.com, dengan demikian www.keosyaro.com memiliki tanggung jawab untuk memberikan produk yang berkualitas baik.
            Anda akan menerima email notifikasi mengenai Nomor Resi Pengiriman sesaat setelah produk pesanan Anda dikirim.</p>
  
  
            <h3><b>KEAMANAN DAN KEBIJAKAN KARTU PEMBAYARAN</b></h3>
            <P>Kami memberikan kemudahan dan kepastian bagi pelanggan dalam melakukan transaksi dengan www.keosyaro.com dengan telah mengimplementasikan suatu sistem pembayaran online ketika pelanggan melakukan pembelian produk secara online dengan menggunakan pilihan sistem pembayaran dari Visa/Master dan semua transaksi akan diproses dalam mata uang Rupiah Indonesia.
            Untuk keamanan data pelanggan, Kami tidak akan menyimpan data atau informasi mengenai kartu kredit atau pun payment card lainnya yang sifatnya pribadi bagi, sehingga kami memastikan data-data payment card  akan tetap aman.
            Proses pembayaran order Anda kami pastikan aman dengan protokol Secure Sockets Layer (SSL) dimana SSL menyediakan keamanan penuh setiap pelanggan dan kebebasan untuk belanja online tanpa rasa khawatir mengenai kemungkinan pencurian informasi kartu kredit, dan guna mencegah informasi tersebut ditangkap, diinterfensi atau dirubah.</p>
  
  
            <h3><b>LINKS</b></h3>
            <P>Situs ini dapat berisi link internet ke situs lainnya yang dimiliki dan dioperasikan oleh pihak ketiga. Perlu Anda ketahui, bahwa www.keosyaro.com tidak bertanggung jawab terhadap pengoperasian ataupun konten yang terletak di situs tersebut.</p>
  
  
            <h3><b>HAK MILIK INTELEKTUAL</b></h3>
            <p>www.keosyaro.com adalah toko online di Indonesia yang dikelola dan dioperasikan oleh keosyaro.com dan menjadi pemilik tunggal atau pemegang sah semua hak atas Situs dan konten situs ini dengan penyerahan hak cipta dari pembuat/developer website ini. Seluruh konten yang terdapat di dalam situs ini mencakup hak milik intelektual yang dilindungi oleh undang-undang hak cipta dan undang-undang yang melindungi kekayaan intelektual lainnya yang berlaku di seluruh dunia. Semua hak milik dan hak milik intelektual atas situs ini dan isinya tetap pada Kami, afiliasinya atau pemilik lisensi isi situs ini.
            Situs www.keosyaro.com, nama, dan ikon serta logo terkait merupakan merek dagang terdaftar di berbagai wilayah hukum dan dilindungi undang-undang tentang hak cipta, merek dagang atau hak milik kekayaan intelektual lainnya. Dilarang keras menggunakan, mengubah, atau memasang merek-merek tersebut di atas untuk kepentingan pribadi dan untuk mendeskriditkan www.keosyaro.com.</p>
  
  
            <h3><b>PEMBERITAHUAN</b></h3>
            <p>Semua pemberitahuan atau permintaan informasi kepada atau tentang Kami akan diproses jika dibuat secara tertulis dan dikirimkan kepada: KEOSYARO.COM, Rukan Mangga Dua Square Blok C No.32 Jl. Gunung Sahari Raya No.1, Jakarta Utara, Indonesia, 14420.
            Semua pemberitahuan atau permintaan kepada atau tentang Pengguna akan diproses jika diserahkan langsung, dikirimkan melalui kurir, surat tercatat, faksimili atau email ke alamat surat, faks atau alamat email yang diberikan oleh Pengguna kepada Kami atau dengan cara memasang pemberitahuan atau permintaan tersebut di satu tempat di situs www.keosyaro.com yang dapat diakses oleh umum tanpa dikenai biaya. Pemberitahuan kepada Pengguna akan dianggap sudah diterima oleh Pengguna tersebut jika dan bila:
            Kami dapat menunjukkan bahwa komunikasi itu, baik dalam bentuk fisik maupun elektronik, telah dikirimkan kepada Pengguna tersebut, atau
            Kami sudah memasang pemberitahuan tersebut di tempat di situs www.keosyaro.com yang dapat diakses oleh umum tanpa dikenai biaya.</p>
  
  
            <h3><b>PENUTUP</b></h3>
            <p>Kami dan Pengguna merupakan hubungan independen dan tidak ada hubungan keagenan, kemitraan, usaha patungan, karyawan-perusahaan atau pemilik waralaba-pewaralaba yang akan dibuat atau dibuat dengan adanya Perjanjian ini.
            Judul di dalam Perjanjian ini dibuat sebagai acuan saja, dan sama sekali tidak menetapkan, membatasi, menjelaskan atau menjabarkan apa yang ada atau tercakup dalam pasal tersebut.
            Tidak dilaksanakannya hak Kami untuk menuntut hak Kami berdasarkan Perjanjian ini ataupun tidak diambilnya tindakan oleh Kami terhadap pelanggaran yang dilakukan oleh Pengguna terhadap Perjanjian ini tidak akan mengesampingkan atau tidak mengesampingkan hak Kami untuk mengambil tindakan terhadap pelanggaran serupa atau pelanggaran berikutnya.</p>
            
        </div>
      </div>
        
        
        

<br>
<!-- Footer -->
<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="footer-col">
        <h4>INFORMATION</h4>
        <ul>
          <li><a href="Aboutus.html">about us</a></li>
          <li><a href="contactus.html">contact us</a></li>
          <li><a href="T&C.html">terms and conditions</a></li>

        </ul>
      </div>
      <div class="footer-col">
        <h4>GET HELP</h4>
        <ul>
          <li><a href="FAQ.html">FAQ</a></li>
          <li><a href="shipping.html">shipping</a></li>
        </ul>
      </div>
      <div class="footer-col">
      </div>
      
      <div class="footer-col">
        <h4>FOLLOW US</h4>
        <div class="social-links">
          <a href="https://www.facebook.com/untarjakarta"><i class="bx bxl-facebook"></i></a>
          <a href="https://www.instagram.com/untarjakarta/"><i class="bx bxl-instagram-alt"></i></a>
          <a href="https://github.com/Testfirsthehehe"><i class="bx bxl-github"></i></a>
          <a href="https://twitter.com/untarjakarta"><i class="bx bxl-twitter"></i></a>
          <a href="https://www.youtube.com/UniversitasTarumanagara"><i class="bx bxl-youtube"></i></a>
        </div>
      </div>
    </div>
  </div>
  <button type="button" class="btn btn-danger btn-floating btn-lg" id="btn-back-to-top">
    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-arrow-up"
      viewBox="0 0 16 16">
      <path fill-rule="evenodd"
        d="M8 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L7.5 2.707V14.5a.5.5 0 0 0 .5.5z" />
    </svg>
  </button>
  <div class="bottom-footer">
    <div class="container">
        <p>© NO copyright 2022 <a href="#" style="color: blue">KeosYaro.Inc</a></p>
    </div>
  </div>
</footer>

        <script src="/public/js/footer.js"></script>
        <script src="/public/js/header.js"></script>
    </body>
</html>